.expenses-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);;
    min-height: 100vh;
    border-radius: 10px;
}

.expenses-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #ff7043;
    font-weight: bolder;
}

.expenses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.expense-card {
    background: rgba(255, 255, 255, 0.85);;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position:relative;
}

.expense-card:hover {
    transform: translateY(-5px);
}

.expense-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #ff7043;
    font-weight: bold;
}

.expense-card p {
    margin: 8px 0;
    color: #555;
}

.expense-link {
    text-decoration: none;
    color: inherit;
  }


  /* Badge styling that makes it always visible */
  .settleup-badge {
    background-color: #ff9800; /* An attention-grabbing orange */
    color: #fff;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    position: absolute; /* Always position absolute within .expense-card */
    top: 8px;
    right: 8px;
    z-index: 1;
    display: inline-block; /* Ensure it's rendered as a block-level element */
  }
  


