/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Outfit:wght@100..900&family=Playfair+Display:wght@400..900&display=swap');

/* Apply font globally */
body {
  margin: 0;
  font-family: 'Nunito', sans-serif; /* Default global font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Change specific elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* Stylish headings */
}

p, span, div, a, button {
  font-family: 'Outfit', sans-serif; /* Clean look for text elements */
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
